body{
    background-color: #001d3d;
    color: white;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.menuzin a{
    color: #ffc300;
    text-decoration: none;
}

.menuzin a:hover{
    color: #ff0000;
    text-decoration: none;
}

h1{
    color: #ffd60a;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

h3{
    color: #04d8cd ;
}

.trybe{
    color: #2b9348;
    text-decoration: none   ;
}

.trybe:hover{
    color: white;
}

h2{
    color: #04d8cd;
}

p{
    color: white;
}

.grifados{
    color: #2b9348;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    font-weight: 900;
}

#fotoKauan{
    border-radius: 100%;
}
.elemento{
    font-size: 16px;
}

.will{
    width: 300px;
}

.volta{
    color: #d00000;
    text-decoration: none   ;
}

.volta:hover{
    color: #04d8cd;
}
